@inherits HienthiSanphamBase

<div class="card m-3" style="min-width:15rem; max-width:20%;">
    
    <div class="card-header">
        <h6> @AnPhuoc.Tensp </h6>
    </div>
    <div class="zoom-img">
        <p><img style="height:auto; width:240px" src="@AnPhuoc.Hinhanh " /></p>
    </div>
    <div style="text-align:center; color: red">Giá: @AnPhuoc.Gia đ</div>
    @if (ShowFooter)
    {
    <div class="card-footer text-center">

        <a href="@($"anphuocdetails/{AnPhuoc.AnPhuocId}")" class="btn btn-primary m-1"> View </a>
        <a href="@($"editanphuoc/{AnPhuoc.AnPhuocId}")" class="btn btn-primary m-1"> Edit </a>
    </div>
    }
</div>